<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ürünler</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/admin">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Ürünler</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Ürün Listesi</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="form-group offset-9">
          <div class="input-group" data-widget="sidebar-search">
            <input
            class="form-control"
            type="search"
            [(ngModel)]="filterText"
            [ngModelOptions]="{standalone:true}"
            placeholder="Search"
            aria-label="Search">
          </div>
        </div>
      </div>


      <div class="card-body">
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>#</th>
              <th>Ürün Adı</th>
              <th>Ürün Resmi</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products |productPipe:filterText let index=index">
              <td [innerText]="index+1"></td>
              <td [innerText]="product.name"></td>
              <td>
                <img [src]="product.mainImage==null?'../../../assets/img/resim-yok.jpg':product.mainImage" alt="">
              </td>
              <td>
                <button class="btn btn-danger" [swal]="deleteSwal" (confirm)="delete(product)">Sil</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        Footer
      </div>
    </div>
  </section>
</div>

<swal #deleteSwal title="Sil" text="Ürünü Silmek İstediğinize Eminmisiniz?" type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{confirmButtonText:'Sil',cancelButtonText:'Vazgeç'}"></swal>
